# Copiez ce fichier en .env et remplissez les valeurs
SECRET_KEY=votre-cle-secrete-tres-longue-et-aleatoire
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1

# En production (Render, Railway…)
# DEBUG=False
# ALLOWED_HOSTS=votre-domaine.onrender.com
# DATABASE_URL=postgres://...
